{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true // defines things like process.env when generating through node
  },
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended"
    // "plugin:@typescript-eslint/recommended",
    // "plugin:@typescript-eslint/recommended-requiring-type-checking"
    // "eslint-config-react-app" TODO: deal with these errors
  ],
  "globals": {
    "graphql": true
  },
  "rules": {
    "no-unused-vars": "off",
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"],
    "babelOptions": {
      "presets": [
        "@babel/preset-typescript"
      ]
    }
  }
}
