{
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true // defines things like process.env when generating through node
  },
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended"
    // "eslint-config-react-app" TODO: deal with these errors
  ],
  "globals": {
    "graphql": true
  },
  "rules": {
    "no-anonymous-exports-page-templates": "warn",
    "limited-exports-page-templates": "warn",
    "no-undef": "off",
    "no-unused-vars": "off",
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": [
        "babel-preset-gatsby",
        "@babel/preset-typescript"
      ]
    }
  }
}
