@import 'variables';

.menu-button {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #a9a9a9;
  border-radius: 50%;
}

.menu-button,
.menu-button:hover {
  transition: all 0.25s ease-in-out;
}

.menu-button:hover {
  cursor: pointer;
  background-color: var(--secondary);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.icon-container {
  display: inline-block;
  margin-left: 7px;
  padding-top: 7px;
}
