/* @import "variables"; */

#logo {
  /* fill: var(--secondary); */

  &.light {
    fill: white;
  }
}

label.author {
  font-size: 13px;

  span#by {
    @add-mixin primary-font;

    color: #7e7e7e;
    margin-right: 5px;
  }

  span#name {
    /* @add-mixin secondary-font; */

    /* color: var(--primary-inverse); */
    font-size: 15px;
  }

  &.light {
    span#by {
      color: white;
    }

    span#name {
      color: white;
    }
  }
}
