@import 'variables';

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  white-space: nowrap;
  background: var(--secondary);
  background: linear-gradient(to right, var(--secondary) 2%, var(--secondary-compliment) 100%);

  &.sidenav-open {
    width: 300px;

    .side-extension,
    .sub-side-extension {
      position: fixed;
      right: calc(100%);
      transform: translate(300px, 0);
    }

    .side-extension {
      width: 8px;
      height: 98vh;
      background-color: #dfedf0;
      top: 10px;
      right: calc(100%);
      transform: translate(300px, 0);
      transition: 0.45s;
      box-shadow: -8px 0px 16px 0px rgba(17, 37, 60, 0.5);
      z-index: 2;
    }

    .sub-side-extension {
      width: 16px;
      height: 96vh;
      background-color: #dfedf0;
      top: 20px;
      position: fixed;
      transition: 0.35s;
      box-shadow: -8px 0px 16px 0px rgba(17, 37, 60, 0.35);
      transition-timing-function: ease-out;
    }
  }
}

#menu-container {
  padding-top: 30px;

  #menu-content {
    @add-mixin secondary-font;

    padding-top: 30px;
    text-align: center;
    font-weight: 700;
  }

  #menu-content a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  #menu-content a:hover {
    opacity: 0.5;
  }

  #menu-footer {
    padding-top: 30px;
  }
}
