.button-container {
  top: 20px;
  left: 20px;
  position: fixed;
  transition: 0.5s;
  z-index: 10;
}

.header {
  padding: 20px;
  transition: 0.45s;

  &.sidenav-open {
    transition-timing-function: ease-out;
    padding-left: 300px;

    .button-container {
      padding-left: 300px;
      transition: 0.45s;

      @media screen and (max-width: 370px) {
        & {
          padding-left: 0px;
        }
      }
    }
  }
}
