.button-container {
  top: 20px;
  left: 20px;
  position: fixed;
  transition: 0.5s;
}

.container {
  transition: 0.5s;

  &.sidenav-open {
    margin-left: 300px;
    transition-timing-function: ease-in;

    .button-container {
      margin-left: 300px;
      transition: 0.5s;
    }
  }
}
